button {
  background: transparent;
  border: none !important;
  font-size:0;
}
#menu{
  height: 100%;
  width: 80px;
  text-align: center;
  position: absolute;
  ackground: #cccccc;
  top: 0%;
  left: 0%;
  border-right: solid #a3a3a3;
}
#hide{
  height: 100%;
  width: 400px;
  position: absolute;
  background-color: #a3a3a3;
  top: 0%;
  left: 0%;
  margin-left: 80px;
  list-style:none;
}
#hide div{
  height: 70px;
  font-size: 30px;
  padding-top:3.5px ;
}
.logoc{
  width: 70px ;
}