#menu{
    height: 100%;
    width: 80px;
    text-align: center;
    position: absolute;
    background: #cccccc;
    top: 0%;
    left: 0%;
    border-right: solid #a3a3a3;
}
.logoc{
    width: 70px ;
}